html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0 !important;
    background-color: rgba(74, 74, 74, 0.20);
}
.image-gallery {
    width: inherit;
    height: inherit;
    margin: 0;
    border-radius: 2vmin;
}


.image-container {
    text-align:center;
    width: 35vw;
    height: 40vh;
    margin-left: 7vw;

}


.image-container img{
    height: inherit;
    width: inherit;
    border-radius: 5%;
    text-align: center;
    box-shadow: 0 0 6px 4px #8ea9a8;

}

#mainNav {
    padding: 0;
    margin: 0;
    background-color: black;
    text-align: center;
    min-height: 50px;
    z-index: 9;

}

li a {
    display: block;
    color: white;
    text-align: center;
    width: 12vw;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover {
    background-color: gray;
    text-decoration: underline;
    /* font-size: large; */
}

.navItems {
    list-style-type: none;
    display: inline-flex;
    height: inherit;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: black;
    opacity: 0.9;

}

.navItems-li {
    background-color: inherit;
    /* padding-top: 2.5vh; */
    font-size: 2.5vh;
    height: inherit;
/*    display: inline-flexbox;
*/    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}

.navItems-li-Active {
    background-color: #171719;
    /* padding-top: 2.5vh; */
    font-size: 2.5vh;
    height: inherit;
    float: left;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.listNoType {
    list-style-type: none;
    text-align:center;
    margin: auto;
    padding: 0;
}

hr {
    height: 5px;
    background-color: #373739;
    border: none;
    margin: 0;
}

a{
    text-align: center;
}

p 
{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 1vw;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    /* font-style:oblique; */
    font-size:4.5vw;
    margin-bottom:7vh;
}

h2{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;

   
}

.h1HeaderName{
    margin-top: auto;
    margin-bottom:2vh;
    
}

#h1-Name{
    margin:0;
    padding-top:10vh;
    font-size:2vw;
}

#h1-Name1{
    margin:0;
    padding-top:7vh;
    font-size:4vw;
}
#h1-Name2{
    margin:0;
    padding-top:2vh;
    font-size:2.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    text-align:center;
}

.paddingDivTop{
    padding-top:10vh;

}

.homeDiv{
    background-size: cover;
    min-height: 100vh;
    background-image: url('homepageImage.jpeg');
}

.turnOpaque :not(.NonOpaque){
    opacity: 0.7;
}

.turnOpaque1 :not(.NonOpaque1){
    background-color: rgba(255,255,255,0.5);
}
#welcomeP {
    color: white;
    font-size: 3vw;
    font-style:oblique;
    margin-top:5px;
}

#strongHome {
    color: white;
    font-family: Roboto, serif;
    font-size: 40px;
    margin:0;
    font-style:oblique;
}

#homeQuestion{
    margin:0;
}

.cvDiv {
    width: 97.8%;
    margin: auto;
    padding: 1vw;
    text-align: center;
    font-size: 40px;
    /* background-color: #373739; */
    /* border-radius: 0; */
    /* transition: width 2s; */
}
.cvDiv2 {
    width: 100%;
    margin: auto;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    font-size: 40px;
    background-color: #373739;
}
 
/* .cvDiv:hover {
    width: 400px;
    background-color: #494848;
} */

a.externalLinks:link {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: none;
}

a.externalLinks:visited {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: underline;
}

a.externalLinks:hover {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: underline;
}

.divCenteredWhite {
    width: 50vw;
    border-radius: 2vmin; /*rounded corners*/
    margin: auto;
    background-color: white;
    box-shadow: 0 0 20px 10px #575555;
}

.divCenteredWhite:hover {
    box-shadow: 0 0 20px 10px #8ea9a8;
}

.divCenteredWhite1 {
    width: 50vw;
    border-radius: 2vmin; /*rounded corners*/
    margin: auto;
    background-color: white;
}

.pWithCenteredWhite {
/*    display: inline-block;*/     
align-content: center;
padding: 1vw;
font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
font-size: 1.4vw;
}

.pdWhite {
    /*    display: inline-block;*/     
    align-content: center;
    padding: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 1.4vw;
    color: white;
    margin:0;
    }

.divShape-BasedOnElement{
    margin: auto;
    margin-top: 3vh;
    width: 10%;
    background:transparent;
    border: 3px solid #89def8;
    box-shadow: 0 0 20px 10px #a9e5f0;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
    text-decoration: none;

}
.divShape-BasedOnElement:hover {
    background:rgb(122, 224, 224);
    box-shadow: 0 0 20px 10px #b8e0fa;
    border: 3px solid #87c0f5;

} 

.divLeft{
    width: 60vw;
    border-radius:0; /*rounded corners*/
    margin: auto;
    background-color: transparent;
    
}

a.aTagHome{
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a.aTagHome:hover{
    text-decoration: underline;
}
.pHomeTag{
    color: black; 
    border-radius: 2vmin;
    letter-spacing: 0.1vw;
    border: 3px solid #89def8;

}

.divTesting {
    border-radius: 50%;
    background-color: #fff;
    box-shadow:  0 0 100px 60px #a4a3a3;
}

.divTesting:hover {
    box-shadow: 0 0 100px 70px deepskyblue,
    inset -10px 0 10px #0ff, /* inner left magenta short */
    inset -10px 0 50px #0ff, /* inner right cyan short */
    inset -10px 0 10px #0ff, /* inner left magenta broad */
    inset -10px 0 30px #0ff;
}


.AboutMe-OuterLayer {
    min-height: 80vh;
    /* background-image: url(aboutMebackground.jpg); */
    background-color: white;
    text-align: center;
    background-size: cover;

}

.Projects-OuterLayer {
    min-height: 400vh;
    background-color: rgb(22, 21, 21);
}
.MyExperience-OuterLayer {
    min-height: 100vh;
    background-image: url(https://picsum.photos//3000/2000?random=4%22);
}
.ContactMe-OuterLayer {
    min-height: 100vh;
    /* background-image: url(https://picsum.photos//3000/2000?random=5%22); */
    background-color: rgb(27, 27, 27);
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.container{
    min-height:100vh;
}

.projectTransition{
    transition: height 2s;
    height: 100px;
    
}

.projectTransition:hover{
    height: 300px;
}

.marginBottom{
    margin-bottom: 20vh;
}
div#wrapper div { 
    display: inline-block; 
  }
#s1 {
    float: left;
    width: 50%;
    
    }

#s2 {
float: left;
width: 50%;
}
    
input[type=text], input[type=email], select, textarea {
    width: 80%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid transparent;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  input[type=submit] {
    background-color: #85c7cd;
    opacity: 0.5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    
  }

  input[type=submit]:hover {
    background-color: #719ca0;
    opacity: 1;
  }
  
  .formLabel{
    color: white;
    font-size: 1.2vw;
  }

  /* Add a background color and some padding around the form */
  .ContactContainer {
    margin: auto;
    width: 60vw;
    border-radius: 5px;
    padding: 20px;
    margin-top: 1vh;
    text-align: center;
    background-color: #312f2f53;
  }

  .divLogo{
      width: 2svw;
      margin-top: 1vh;
      height: 10vh;
      float: right;
      margin-right: 2vw;
  }

  .divLogo img{
    width: 0.8svw;
    height: 8vh;
    border-radius: 50%;
  }